body {
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.content {
    margin-top: 40px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 34px;
}

form {
    background-color: white;
    padding: 50px;
}

.list {
    list-style: none;
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(242, 109, 86); 
    background: rgb(255, 226, 219); 
}
.list li:last-child{
    margin:0;
}